Source: java
Section: non-free/java
Priority: extra
Maintainer: Artem Kobrin <kobrin.artem@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.oracle.com/technetwork/java/javase/downloads/index.html
#Vcs-Git: git://git.debian.org/collab-maint/java.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/java.git;a=summary

Package: java
Architecture: any
Depends: ${misc:Depends}
Description: Oracle Java(TM) Development Kit (JDK) 7
 The JDK(TM) is a development environment for building and running
 applications, applets, and components using the Java programming language.
 .
 The JDK(TM) includes Java Runtime Environment (JRE) for running applications,
 Java Plug-in for running applets in web browsers and tools useful for
 developing and testing programs written in the Java programming language.
 .
 Note that this package does not contain any software from Oracle. This
 package does however contain a script to download and install Oracle JDK 7.
 All information regarding Java itself can be found on this website:
 http://www.oracle.com/
